page-profile {
    .user-icon{
        font-size: 22px;
        color: #f53d3d;
    }

    .edit-icon{
        font-size: 22px;
        color: grey;
    }
    ion-item{
          color: #0091d4!important;
    }
   
    
    

}
