page-history,
.history {

	.row-blue {
      color: blue;
    }
	.row-black {
      color: blue;
    }    
	.row-black {
      color: black;
    }    
	.font-light {
      font-weight: bolder!important;
      color : #0091d4!important;
      margin : 0px !important;
      padding : 0px !important;
    }
	.font-bold {
      font-weight: bold;
    }
    td{
      color:#898D97;
      margin-top:0!important;
      margin-bottom:0!important;
      padding:0!important;
      
    }
    
  ion-img {
 padding: 15%;
// padding-top: 15%;
margin-top:25%!important;
   } 
    
}
