page-history,
.history {

	.row-blue {
      color: blue;
    }
	.row-black {
      color: blue;
    }    
	.row-black {
      color: black;
    }    
	.font-light {
      font-weight: lighter;
    }
	.font-bold {
      font-weight: bold;
    }  
    td{
      color:#898D97;
      margin-top:0!important;
      margin-bottom:0!important;
      padding:0!important;
      
    }
    
  ion-img {
          padding: 15%;
          margin-top:25%!important;
          } 
   
}
